@font-face {
    font-family: 'VarelaRound';
    src: url('fonts/VarelaRound-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ConcertOne';
    src: url('fonts/ConcertOne-Regular.ttf') format('truetype');
}

* {
    font-family: 'VarelaRound';
}

h2 {
    font-family: 'ConcertOne';
}

.bg-main {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='100%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FFFAF6'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='100%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFF7FB' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23FFF7FB' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%23F4E7E7' stroke-width='8.7' stroke-miterlimit='10' stroke-opacity='0.26'%3E%3Cpolygon points='-500%2C500 500%2C-500 1500%2C500 500%2C1500'/%3E%3Cpolygon points='-475%2C500 500%2C-475 1475%2C500 500%2C1475'/%3E%3Cpolygon points='-450%2C500 500%2C-450 1450%2C500 500%2C1450'/%3E%3Cpolygon points='-425%2C500 500%2C-425 1425%2C500 500%2C1425'/%3E%3Cpolygon points='-400%2C500 500%2C-400 1400%2C500 500%2C1400'/%3E%3Cpolygon points='-375%2C500 500%2C-375 1375%2C500 500%2C1375'/%3E%3Cpolygon points='-350%2C500 500%2C-350 1350%2C500 500%2C1350'/%3E%3Cpolygon points='-325%2C500 500%2C-325 1325%2C500 500%2C1325'/%3E%3Cpolygon points='-300%2C500 500%2C-300 1300%2C500 500%2C1300'/%3E%3Cpolygon points='-275%2C500 500%2C-275 1275%2C500 500%2C1275'/%3E%3Cpolygon points='-250%2C500 500%2C-250 1250%2C500 500%2C1250'/%3E%3Cpolygon points='-225%2C500 500%2C-225 1225%2C500 500%2C1225'/%3E%3Cpolygon points='-200%2C500 500%2C-200 1200%2C500 500%2C1200'/%3E%3Cpolygon points='-175%2C500 500%2C-175 1175%2C500 500%2C1175'/%3E%3Cpolygon points='-150%2C500 500%2C-150 1150%2C500 500%2C1150'/%3E%3Cpolygon points='-125%2C500 500%2C-125 1125%2C500 500%2C1125'/%3E%3Cpolygon points='-100%2C500 500%2C-100 1100%2C500 500%2C1100'/%3E%3Cpolygon points='-75%2C500 500%2C-75 1075%2C500 500%2C1075'/%3E%3Cpolygon points='-50%2C500 500%2C-50 1050%2C500 500%2C1050'/%3E%3Cpolygon points='-25%2C500 500%2C-25 1025%2C500 500%2C1025'/%3E%3Cpolygon points='0%2C500 500%2C0 1000%2C500 500%2C1000'/%3E%3Cpolygon points='25%2C500 500%2C25 975%2C500 500%2C975'/%3E%3Cpolygon points='50%2C500 500%2C50 950%2C500 500%2C950'/%3E%3Cpolygon points='75%2C500 500%2C75 925%2C500 500%2C925'/%3E%3Cpolygon points='100%2C500 500%2C100 900%2C500 500%2C900'/%3E%3Cpolygon points='125%2C500 500%2C125 875%2C500 500%2C875'/%3E%3Cpolygon points='150%2C500 500%2C150 850%2C500 500%2C850'/%3E%3Cpolygon points='175%2C500 500%2C175 825%2C500 500%2C825'/%3E%3Cpolygon points='200%2C500 500%2C200 800%2C500 500%2C800'/%3E%3Cpolygon points='225%2C500 500%2C225 775%2C500 500%2C775'/%3E%3Cpolygon points='250%2C500 500%2C250 750%2C500 500%2C750'/%3E%3Cpolygon points='275%2C500 500%2C275 725%2C500 500%2C725'/%3E%3Cpolygon points='300%2C500 500%2C300 700%2C500 500%2C700'/%3E%3Cpolygon points='325%2C500 500%2C325 675%2C500 500%2C675'/%3E%3Cpolygon points='350%2C500 500%2C350 650%2C500 500%2C650'/%3E%3Cpolygon points='375%2C500 500%2C375 625%2C500 500%2C625'/%3E%3Cpolygon points='400%2C500 500%2C400 600%2C500 500%2C600'/%3E%3Cpolygon points='425%2C500 500%2C425 575%2C500 500%2C575'/%3E%3Cpolygon points='450%2C500 500%2C450 550%2C500 500%2C550'/%3E%3Cpolygon points='475%2C500 500%2C475 525%2C500 500%2C525'/%3E%3C/g%3E%3Crect fill-opacity='0.26' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.bg-login {
    background-image: url("../public/Images/FlipitPattern.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 102.2vh;
    padding: 40px;
}

.bg-card-view-body {
    background-image: url("../public/Images/FlipitPattern.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    /* height: 102.2vh;
    padding: 40px; */
}

.design-login {
    background-color: #AEBED6;
    border-radius: 20px;
    animation: fadeIn 1s;
}

.main-button {
    background-color: #133266;
    border-radius: 15px;
    font-weight: bold;
    border: 1px solid #133266;
}

.main-button:hover {
    background-color: #fff;
    color: #133266;
}

.cursor-pointer {
    cursor: pointer;
}

.seconde-button {
    background-color: #fff;
    color: #e72451;
    border-radius: 20px;
    font-weight: bold;
    border: 1px solid #e72451;
}

.seconde-button:hover {
    background-color: #e72451;
    color: #fff;
}

.card {
    transition: opacity 0.5s ease;
}

.card.visible {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

.animation-show-login {
    animation: kf_scale 3s infinite;
}

.hover-text:hover {
    color: #133266 !important;
}

.design-navbar {
    background-color: #133266;
    width: 100%;
}

.new-cards-box,
.save-change,
.add-words,
.flip-it-box {
    background-color: #133266;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-new-cards-box,
.btn-save-change,
.btn-add-words {
    width: 275px;
    height: 50px;
    background: var(--White, #FFFFFF);
    border-radius: 15px;
    margin-top: 13px;
}

.btn-flip-it {
    width: 275px;
    height: 50px;
    background: var(--White, #EFE5C1);
    border-radius: 15px;
    margin-top: 13px;
}

.bg-home,
.bg-add-card-box {
    background-color: #AED6CC;
    width: 100%;
}

.bg-search {
    background-color: #EFC1C4;
    width: 100%;
}

.bg-edit {
    background-color: #EFE5C1;
    width: 100%;
}

.bg-setting {
    background-color: #A5DAE3;
    width: 100%;
    height: 100%;
}

.bg-card-title-view {
    background-color: #133266;
    width: 100%;
}

.scrollable-div::-webkit-scrollbar {
    display: none;
}

.card-global-page-home,
.card-global-page-review {
    position: absolute;
    width: 100%;
    background-color: white;
    color: #133266;
    border: 1px solid #133266;
    border-radius: 15px;
    padding: 15px;
    user-select: none;
    cursor: grab;
    z-index: 1;
}

.card-global-page {
    background-color: white;
    color: #133266;
    border: 1px solid #133266;
    border-radius: 15px;
    padding: 15px;
}

.timer-undo {
    padding: 10px;
    border-radius: 100%;
    width: 40px;
    text-align: center;
    box-shadow: 0px 2px 5px #133266;
}

.list-item {
    position: relative;
    height: 9.5rem;
}

.delete__design {
    background-color: #EFC1C4;
    text-align: end;
    padding: 10px;
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 60%;
    line-height: 65px;
    font-size: large;
    color: #133266;
    border-top-width: 2px;
    border-bottom-width: 4px;
    border-right: 2px;
    border-left: 2px;
    border-style: solid;
    border-color: var(--Indigo, #133266);
}

.delete__design__btn {
    width: 135px;
    height: 55px;
    top: 244px;
    left: 42px;
    gap: 0px;
    border-radius: 10px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    border: 2px solid #133266;
}

.fast__design {
    background-color: #A5DAE3;
    text-align: start;
    padding: 10px;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 60%;
    line-height: 65px;
    font-size: large;
    color: #133266;
    border-top-width: 2px;
    border-bottom-width: 4px;
    border-right: 2px;
    border-left: 2px;
    border-style: solid;
    border-color: var(--Indigo, #133266);
}

.action__design {
    text-align: start;
    padding: 10px;
    width: 100%;
    display: flex;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 90%;
    line-height: 115px;
    font-size: large;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.delete__btn__review {
    width: 65px;
    height: 65px;
    background: var(--Baby-Pink, #EFC1C4);
    padding: 7px 15px 7px 15px;
    border-radius: 10px;
    color: #133266;
    border: 2px solid var(--Indigo, #133266);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 9pt;
    font-weight: bold;
}

.edit__btn__review {
    width: 65px;
    height: 65px;
    background: var(--Baby-Pink, #A5DAE3);
    padding: 7px 15px 7px 15px;
    border-radius: 10px;
    color: #133266;
    border: 2px solid var(--Indigo, #133266);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 9pt;
    font-weight: bold;
}

.list-item__option {
    position: absolute;
    top: 31px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    color: #ffffff;
    font-weight: bold;
    z-index: 0;
}

.border-3d {
    border: 1px solid #133266;
    background-color: #AEBED6;
    border-radius: 15px;
    width: 20%;
    text-align: center;
}

.border-type {
    border-radius: 15px;
    background-color: white;
    border: 1px solid #133266;
    width: 25%;
    text-align: center;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: #133266;
    border-radius: 100px;
}

.account-style {
    display: flex;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    text-decoration: none;
    justify-content: center;
    color: #133266;
    font-size: 15pt;
    padding: 25px;
    font-weight: bolder;
    border-top-width: 3px;
    border-bottom-width: 6px;
    border-style: solid;
    border-color: var(--Indigo, #133266);
}

.preferences-style {
    display: flex;
    background-color: #EFE5C1;
    border-radius: 15px;
    width: 100%;
    text-decoration: none;
    justify-content: center;
    color: #133266;
    font-size: 15pt;
    padding: 25px;
    font-weight: bolder;
    border-top-width: 3px;
    border-bottom-width: 6px;
    border-style: solid;
    border-color: var(--Indigo, #133266);
}

.info-style {
    display: flex;
    background-color: #AED6CC;
    border-radius: 15px;
    width: 100%;
    text-decoration: none;
    justify-content: center;
    color: #133266;
    font-size: 15pt;
    font-weight: bolder;
    height: 84px;
    border-top-width: 3px;
    border-bottom-width: 6px;
    border-style: solid;
    border-color: var(--Indigo, #133266);
}

.logout-style {
    display: flex;
    background-color: #EFC1C4;
    border-radius: 15px;
    width: 100%;
    text-decoration: none;
    justify-content: center;
    color: #133266;
    font-size: 15pt;
    font-weight: bolder;
    text-transform: none;
    height: 84px;
    border-top-width: 3px;
    border-bottom-width: 6px;
    border-right: 3px;
    border-left: 3px;
    border-style: solid;
    border-color: var(--Indigo, #133266);
}

.flip-btn {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: 3px;
    border-bottom-width: 5px;
    border-color: #133266;
    border-style: solid;
    font-size: 18px;
    color: #133266;
    font-weight: bold;
}

.forgot-btn {
    width: 115px;
    height: 50px;
    border-radius: 15px;
    border: 3px;
    border-bottom-width: 5px;
    border-color: #133266;
    border-style: solid;
    font-size: 15px;
    color: #133266;
    font-weight: bold;
}

.know-btn {
    width: 115px;
    height: 50px;
    border-radius: 15px;
    border: 3px;
    border-bottom-width: 5px;
    border-color: #133266;
    border-style: solid;
    font-size: 15px;
    color: #133266;
    font-weight: bold;
    background-color: #EFC1C4;
}

.flip-btn:hover {
    transition: all .5 ease-in-out;
    background-color: #133266;
    color: #FFFFFF;
}

.cancel-style {
    width: 100px;
    height: 55px;
    padding: 18px 29px 18px 29px;
    gap: 8px;
    border-radius: 15px;
    opacity: 0px;
    border: 3px solid var(--Jet-Stream, #AED6CC);
    color: #AED6CC;
    font-weight: bold;
}

.type-design {
    border-radius: 15px;
    border: 2px solid var(--Indigo, #133266);
    font-size: 13px;
    font-weight: bold;
    padding: 2px;
    text-align: center;
}

.discard-style {
    width: 100px;
    height: 55px;
    border: 3px solid var(--Baby-Pink, #EFC1C4);
    background-color: #ffffff;
    color: #EFC1C4;
    border-radius: 15px;
    font-weight: bold;
}

.save-style {
    width: 100px;
    height: 55px;
    border: 3px solid var(--Baby-Pink, #AED6CC);
    background-color: #ffffff;
    color: #AED6CC;
    border-radius: 15px;
    font-weight: bold;
}

.delete-style {
    width: 100px;
    height: 55px;
    padding: 18px 29px 18px 29px;
    gap: 8px;
    border-radius: 15px;
    opacity: 0px;
    border: 3px solid var(--Jet-Stream, #EFC1C4);
    color: #EFC1C4;
    font-weight: bold;
}

.card-container {
    perspective: 1000px;
    width: 100%;
    height: 100%;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped {
    transform: rotateY(-180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 15px;
    border: 5px solid var(--Indigo, #133266);
    padding: 25px;
}

.card-back {
    transform: rotateY(180deg);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes kf_scale {
    0% {
        transform: scale(0) rotateY(360deg);
    }

    50% {
        transform: scale(0.5) rotateY(180deg);
    }

    100% {
        transform: scale(1) rotateY(0deg);
    }
}